{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-warning">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <p>Enter your email to receive reset link</p>
                    <input type="email" class="form-control mb-3" id="email" placeholder="Email">
                    <button class="btn btn-primary w-100">Send Reset Link</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
