{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4>New Password</h4>
                </div>
                <div class="card-body">
                    <input type="password" class="form-control mb-3" placeholder="New Password">
                    <input type="password" class="form-control mb-3" placeholder="Confirm Password">
                    <button class="btn btn-success w-100">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
